# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/

# Build artifacts
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Tuist
.tuist-cache/
.tuist-bin/

# Local environment files
.env
.env.*
BadUp/BadUp.xcodeproj/project.xcworkspace/xcuserdata/chenrs.xcuserdatad/UserInterfaceState.xcuserstate
